@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    border: 0;
        font-size: 100%;
    vertical-align: baseline;
}
html,body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 12px;
    overflow: hidden;
}
header{
     width: 100%;
    height: 45px;
    top: 0;
    z-index: 10;
    background: #FAFAFA;
    border-bottom: 1px solid #F0F0F0;
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
    a{
            background: url(../img/i_ico.png)no-repeat;
            background-position: -1px -208px;
            background-size: 55px auto;
            width: 33px;
            height: 33px;
        
    }
    input{
//      margin-left: -50px;
        width:72%;
        height: 30px;
        border:1px solid #D3D3D3;
        border-right: none;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        padding-left: 15px;
    }
    span{
        border:1px solid #D3D3D3;
        border-left: none;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
            width: 30px;
    height: 30px;
    display: block;
    background: url(../img/i_ico.png) no-repeat -32px -183px;
    background-size: 60px auto;
    background-color: #fff;
    }
  
}
.view{
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
    p{
        font-size: 15px;
        color: #B5B5B5;
    }
    button{
        margin: 15px 10px;
        border-radius: 20px;
        padding: 10px 13px;
        line-height: 10px;
        border: 1px solid #c2c2c2;
        background: none;
    }
}
